<div class="cover-image">
  <img src="{{event.coverImageUrl}}">
</div>
<div>
  <h1>{{event.eventName}}</h1>
  <h4><span class="event-label">Date:</span> {{event.eventDate}}</h4>
  <h4><span class="event-label">Organizer:</span> {{event.venmoHandle}}</h4>
  <h4><span class="event-label">Location:</span> {{event.eventLocation}}</h4>
  <h4><span class="event-label">Cost:</span> {{event.costPerTicket}}</h4>
  <h4><span class="event-label">Min:</span> {{event.minimumAttendees}}</h4>
  <h4><span class="event-label">Max:</span> {{event.maximumAttendees}}</h4>
  <h4><span class="event-label">Listed Publicly:</span> {{event.listPublicly}}</h4>
</div>
