<div class="cover-image">
  <img src="{{event.coverImageUrl}}">
</div>
<div class="container">
  <div class="event-header">
    <h1>{{event.eventName}}</h1>
    <!-- <p>USER ID {{user._id}} || ORGANIZER ID {{event.organizerUserId}}</p> -->
    {{#eq event.organizerUserId user._id}}<a href="/events/{{event.id}}/edit" class="btn btn-outline-info">Edit</a>{{/eq}}
  </div>
  <p class="helper-text"><span class="event-label">Public: {{# if event.listPublicly}}Yes{{else}}No{{/if}}</span></p>
  <p><span class="event-label">Date:</span>{{# if event.eventDate}} {{moment event.eventDate format="MMMM Do, YYYY"}}{{else}} TBD{{/if}}</h4>
  <p><span class="event-label">Organizer:</span> {{event.organizerName}}</p>
  <p><span class="event-label">Location:</span>{{# if event.eventLocation}} {{event.eventLocation}}{{else}} TBD{{/if}}</p>
  <p><span class="event-label">Cost:</span> ${{event.costPerTicket}}</p>
  <p><span class="event-label">Min:</span> {{event.minimumAttendees}}</p>
  {{# if event.maximumAttendees}}<p><span class="event-label">Max:</span> {{event.maximumAttendees}}</p>{{/if}}
  <form action="/events/{{event.id}}/join" method="post">
    <input type="hidden" name="attendeeUserId" class="form-control" id="attendee-user-id" value="{{user._id}}">
    <input type="hidden" name="reasonForLogin" class="form-control" id="reason-for-login" value="You must signup or login to join an event.">
    <input type="hidden" name="numberOfAttendees" class="form-control" id="number-of-attendees" value={{event.arrayOfAttendeeIds.length}}>
    <a href=""><button type="submit" class="btn btn-info btn-lg join-event-btn">Join (${{event.costPerTicket}})</button></a>
  </form>
  <hr>
  {{# if event.numberOfAttendees}}
    <h2>Who's Down</h2>
    <p>{{event.numberOfAttendees}} person(s) are down for this event.</p>
    <ul>
      {{#each attendees as |attendee|}}
        <li>{{attendee.name}} <span class="helper-text">| @{{attendee.venmoHandle}}</span></li>
      {{/each}}
    </ul>
  {{else}}
    <h2>Start the movement.</h2>
    <p>The first follower is even more important than the leader.</p>
  {{/if}}
</div>
